*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
   
     /* background-image: url("https://wallpapers.com/images/featured/green-landscape-s287v90a9xykt123.jpg"); */
      
}




.main{
    display: flex;
    flex-direction: row;  
     
}
.logo{
    width: 200px;
}
.left-side{
    
    margin-top: 170px;
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    gap: 20px;
    
    margin: 150px auto;
  }
.left-side h1{
    color: white;
}
.left-side p{
    font-size: 20px;
    font-weight: bolder;
    color: white;
}
.login{
    width: 20%;
    cursor: pointer;
}
.left-side input{
    width: 70%;
    padding: 15px;
    border-radius: 20px;
    outline: none;
    background-color: hsl(160, 36%, 82%);
    border: none;
}
.loginBtn{
    padding: 15px;
    width: 25%;
    border-radius: 20px;
    border: none;
    background-color: hsl(160, 36%, 82%);
    cursor: pointer;
    
}


